<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parenteye">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminGroupRequestActivity"></activity>
        <activity android:name=".GroupActivity" />
        <activity android:name=".CommunityAboutandmembersActivity" />
        <activity android:name=".PageActivity" />
        <activity android:name=".ViewPager_myFriends" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".FriendRequestActivity" />
        <activity android:name=".MyChildrenActivity" />
        <activity android:name=".ViewImage" />
        <activity android:name=".Edit_Comment" />
        <activity android:name=".AddChildActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Show_Did_Like" />
        <activity android:name=".Create_Post" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".AddPageActivity" />
        <activity android:name=".UserFriendsActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".Create_Comment" />
        <activity android:name=".MakeGroupActivity" />
        <activity android:name=".FragmentPreview" />
    </application>

</manifest>